*.tar.gz
*.zip
data/
testing.ipynb
Notations.ipynb
For Study - Konkoor.docx
testing_markdown.md
0 - My Pamphlets/
DL_HW2-1.jpg
DL_HW2-2.jpg
DL_HW2-3.jpg
DL_HW2-4.jpg
DL_HW2-5.jpg
DL_HW2-6.jpg
DL_HW2 Answer.docx
DL_HW2.pdf
Chapter 9.pdf
installed package.txt
runs/
validation_plate_crops/
DL_HW3 Pictures
DL_HW3 - with Answers.docx
QR Code.jpeg
DL_HW3.pdf
Models/
3 - HW3/Practical/Results/Q2_GPT2/best_gpt2_sentiment.pt
3 - HW3/Practical/Results/Q1_RNN/val_data.xlsx
3 - HW3/Practical/Results/Q1_RNN/train_data.xlsx
3 - HW3/Practical/Results/Q1_RNN/test_data.xlsx
3 - HW3/Practical/Results/Q1_RNN/full_data_filled.xlsx
3 - HW3/3 - HW3 - README.md
3 - HW3/Practical/Results/Q2_GPT2/GPT-2-Finetuned/tokenizer.json
3 - HW3/Practical/Results/Q3_PEFT/lora_rank_comparison.xlsx
Source/
4 - HW4/Theoretical/4 - HW4 - Theoretical.docx
4 - HW4/Practical/Results/DDPM/conditional_ddpm_samples_1.png
